scrape_configs:
  - job_name: 'nodes'
​
    static_configs:
      {% for node in groups.nodes %}
      - targets: ['{{ node }}:9090']
      {% endfor %}
​
      {% for node in groups.nodes %}
      - targets: ['{{ hostvars[node].ip }}:9090']
      {% endfor %}
